form {
    margin: 100px auto 20px auto;
    max-width: 600px;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  .col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  nav {
    background-color: #28c9c6;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: #555;
  }

  /* Footer styles */
  footer {
    background-color: #28c9c6;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  /* Body styles */
  body {
    margin: 0;
    padding: 0;
    background-image: url('D:\CredenceAI\LungDisease\lungdisease\staticfiles\img\Designer (1).png.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }